<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Asn1Net.Writer" Description="Code analysis rules for Asn1Net.Writer.csproj." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA2210" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>